#main-nav {
    a {
        &:hover {
            color: #343a40!important;
        }
    }
    .dropdown-menu {
        margin-top: 0px;
        #menu-item-89 {
            font-weight: bold;
            border-top: 1px solid #000;
            padding: 1rem 0 0.8rem;
            margin: 0.4rem 0 0;
        }
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
}
.footer-top {
    background: #222222 none repeat scroll 0 0;
    color: #9d9d9d;
    padding: 80px 0;
    h6 {
        color: #fc5185;
        margin-bottom: 20px;
    }
    ul {
        padding-inline-start: 0px;
        li {
            font-size: 14px;
            line-height: 23px;
            list-style: outside none none;
            margin-bottom: 16px;
            position: relative;
            a {
                color: #fff;
            }
        }
    }
}
.footer-bottom {
    background: #191919 none repeat scroll 0 0;
    padding: 22px 0;
}

.footer_widget {
    color: #ffffff;
    display: inline-block;
    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            margin: 0 auto;
            a {
                i {
                    font-size: 2rem;
                    margin: 1rem;
                }
            }
        }
    }
}
.button {
    margin-right: 5px;
    padding: 10px 18px;
    border: 0px;
    border-radius: 20px;
    color: #fff !important;
    font-weight: 900;
}
.b1 {
    background: #364f6b;
}
@media screen and (max-width: 1024px) {
    .entry-header {
        text-align: center;
    }
    .entry-content {
        text-align: center;
    }
}