.owl-carousel {
    .item-container {
        box-shadow: 0 4px 6px #ddd;
        border-radius: 10px;
        .item-image {
            height: 210px;
            border-radius: 10px 10px 0 0;
        }
        .image-service {
            background: url(/images/blog/service.png) no-repeat;
        }
        .image-warranty {
            background: url(/images/blog/warranty.png) no-repeat;
        }
        .image-ev {
            background: url(/images/blog/product-electric-vehicles.webp) no-repeat;
        }
        .image-gap {
            background: url(/images/blog/product-gap.webp) no-repeat;
        }
        .image-mot {
            background: url(/images/blog/mot.jpg) no-repeat;
        }
        .image-tyre {
            background: url(/images/blog/product-tyre.webp) no-repeat;
        }
        .image-alloy {
            background: url(/images/blog/product-alloy.webp) no-repeat;
        }
        .image-cosmetic {
            background: url(/images/blog/product-cosmetic.webp) no-repeat;
        }


        .item-text-block {
            margin: 20px;
            .item-title {
                font-size: 1.2rem;
            }
            .item-text {
                min-height: 75px;
            }
            .item-link {
                text-align: right;
                a {
                    color: #33b39c;
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}
#homepagePosts {
    .blog-info-box {

        .blogimg {
            max-height: 200px;
            overflow: hidden
        }
        .blogtitle {
            background: #222b38;
            padding: 8px;
            text-align: center;
            color: #fff;
            a {
                color: #fff;
                min-height: 2rem;
                padding: 20px 0;
            }
        }
    }
}