.banner {
    text-align: center;
    color: #fff;
    background: #3fc1c9;
    margin-bottom: 40px;
    padding: 40px 20px;
    margin-top: 0px;
    overflow: hidden;
}
.banner h2 {
    font-size: 1.2rem;
}


@media screen and (max-width: 800px) {

    .banner {
        margin-bottom: 40px;
        padding: 10px;
    }
    .banner h2 {
        display: none;
    }

}