.pinkHeading {
  font-weight: 900;
  color: #fc5185;
}

body.menu-modal-open {
  width: 100%;
  position: fixed;
}
body.menu-modal-open #mobileMenuToggle {
  display: none;
}
body.menu-modal-open #closeMobileMenu {
  display: block !important;
}

#closeMobileMenu {
  background: #174f5f;
  padding: 0.25rem 0.75rem;
  line-height: 1.5em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  opacity: 1;
  text-shadow: none;
}
#closeMobileMenu span {
  width: 1.5em;
  height: 1.5em;
  display: block;
  vertical-align: middle;
  color: #fff;
}

.adminBar {
  background: #666;
  color: #fff;
}
.adminBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.adminBar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.adminBar ul li a {
  display: block;
  color: #fff;
}

.navbar-nav a {
  color: #212529;
}

#mobileMenu {
  display: block;
  background: #fff;
  position: fixed;
  z-index: 99999;
  top: 57px;
  left: 0;
  width: 100%;
  height: calc(100% - 57px);
  overflow: scroll;
}
#mobileMenu .loginActions {
  padding: 1rem 0;
}
#mobileMenu .loginActions a {
  display: block;
}
#mobileMenu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#mobileMenu nav ul li .otherServices {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #212529;
  border-bottom: 1px solid #f4f4f4;
  font-weight: bold;
  font-size: 1.2rem;
}
#mobileMenu nav ul li a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #212529;
  border-bottom: 1px solid #f4f4f4;
  font-weight: bold;
  font-size: 1.2rem;
}
#mobileMenu nav ul li a:hover {
  background: #f4f4f4;
}
#mobileMenu nav ul li ul {
  display: none;
}
#mobileMenu nav ul li ul li a {
  border-bottom: none;
  font-weight: normal;
  font-size: 1rem;
}
#mobileMenu nav .menuHeader a {
  font-size: 1.2rem;
  text-align: center;
  background: #3ca3ae;
  padding: 1rem 0;
  color: #fff;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  width: 100%;
}
#mobileMenu nav #mainMenu {
  font-size: 1.2rem;
  text-align: center;
  background: #3ca3ae;
  padding: 1rem 0;
  color: #fff;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  width: 100%;
}
#mobileMenu nav #adminMenu {
  background: #68d155;
}

.myAccountLinks a div {
  padding: 24px;
  font-size: 20px;
  border: 1px;
  border-radius: 10px;
}

.modal-body .card {
  margin-top: 1rem;
}
.modal-body .card .card-header {
  background: #364f6b;
  border-radius: 0;
}
.modal-body .card .card-header button {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1200px) and (min-width: 499px) {
  #mobileMenu {
    top: 71px;
    height: calc(100% - 71px);
  }
}

/*# sourceMappingURL=components.css.map */
