.bays {
  padding-top: 45px;
  background: #fc5185;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.carName {
  min-height: 60px;
  padding-top: 9px;
  background: #333;
  color: #fff;
  min-height: 90px;
}

.garagetable1 {
  border: 2px solid #fc5185;
}

.carSpec {
  padding: 5px 0 5px 10px;
}

.altRow {
  background: #efefef;
}

.warning {
  background-color: #ff9800;
  padding: 20px;
  color: white;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.warning p {
  margin-bottom: 0;
  font-weight: bold;
}

.mobileGarageTable {
  width: 100%;
  overflow-y: scroll;
}

.mobileGarageTableHeaderBlock {
  display: flex;
}

.mobileGarageTableHeader {
  display: inline-block;
  min-height: 60px;
  padding: 10px 20px;
  background: #333;
  white-space: nowrap;
  color: #fff;
  min-width: 200px;
}

.tableContent {
  width: auto;
}

.mobileGarageRow {
  display: flex;
}
.mobileGarageRow .carName {
  text-align: center;
}

.mobileGarageContent {
  min-width: 200px;
}

.expiredGarage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

/*# sourceMappingURL=garage.css.map */
