@charset "UTF-8";
html {
  height: 100%;
}

body {
  height: 100%;
}

.filterMakes {
  padding: 20px;
}

#makeSelected img {
  height: 30px;
  width: 30px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
ul label {
  font-weight: 900;
}

.filtericons {
  display: block;
}

.textlabel {
  border: 3px solid #3fc1c9;
  border-radius: 24px;
  padding: 2px 10px;
  font-weight: 900;
}
.textlabel:hover {
  background: #3fc1c9;
}

label [type=checkbox] {
  display: none;
}

:checked + div {
  background: #fc5185;
  border-color: #fc5185;
  display: block;
  color: #fff;
}

#initialrentalModal ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  text-align: center;
}

#bodystyleModal ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  text-align: center;
}

#contractlengthModal ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  text-align: center;
}

#annualmileageModal ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  text-align: center;
}

.modal-body :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

#filterFuels ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
#filterFuels ul li {
  text-align: center;
}

#transmissionModal ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
#transmissionModal ul li {
  text-align: center;
}

a.rowcars {
  color: #000 !important;
}

a.rowcars:hover {
  color: #000 !important;
}

.resultprice {
  font-size: 22px;
  font-weight: 900;
  color: 3fc1c9;
}

.modal-body .filterMakes ul {
  list-style-type: none;
}

.showingNumber {
  text-align: left;
  min-height: 1rem;
  padding: 0.5rem 0;
  display: block;
}

.result-row .instock {
  border-color: transparent transparent transparent #3fc1c9;
}

.result-row .instock p {
  font-size: 1rem !important;
  margin-top: 7px !important;
  margin-left: -73px !important;
}

.result-row .stocktag p {
  font-size: 0.8rem;
  margin-top: 14px;
  margin-left: -70px;
}

.result-row .stocktag {
  border-width: 0px 0px 70px 70px;
}

.result-row h3 {
  font-size: 19px;
  font-weight: 900;
}

.modal-body .filterMakes li {
  display: inline-block;
}

.modal-body .filterMakes input[type=checkbox][id^=cb] {
  display: none;
}

.modal-body .filterMakes label {
  border: 1px solid #fff;
  /*padding: 10px;*/
  display: block;
  position: relative;
  /*margin: 10px;*/
  cursor: pointer;
}

.fa-li {
  width: 2.742857em !important;
}

.modal-body label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

a.addToGarageListing {
  color: #fc5185;
  font-weight: 600;
  line-height: 26px;
}

.sidebar_widget {
  background: #fff;
  padding-top: 15px;
  font-weight: 900;
}

.page-item.active .page-link {
  background-color: #fc5185;
  border-color: #fc5185;
}

.page-link {
  color: #000;
}

.modal-body label img {
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  margin: auto;
}

.modal-body :checked + label {
  border-color: #ddd;
}

:checked + div.imgdiv {
  transform: scale(0.9);
  box-shadow: 0 0 5px #3333338c;
  z-index: -1;
  background: #fff;
  color: #fc5185;
}

.imgdiv {
  color: #3fc1c9;
  font-weight: 900;
}

:checked + div.imgdiv:before {
  content: "✓";
  background-color: #fc5185;
  transform: scale(1);
  opacity: 1;
  border-color: #fc5185;
  position: absolute;
  left: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 22px;
  color: #fff;
}

.specs label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -4px;
  left: 35px;
  z-index: 1;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.modal-body :checked + label:before {
  content: "✓";
  background-color: #fc5185;
  transform: scale(1);
  opacity: 1;
  border-color: #fc5185;
}

.modal-body :checked + label img {
  transform: scale(0.9);
  /*box-shadow: 0 0 5px #333;*/
  z-index: -1;
}

.filterHeader {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.applydiv {
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 80%;
  border-top: 2px solid #fc5185;
  border-right: 2px solid #fc5185;
  left: 0;
}

.mobfilterheader {
  background: #fff;
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  z-index: inherit;
  border-bottom: 2px solid #fc5185;
  border-right: 2px solid #fc5185;
  height: 70px;
}

.der {
  font-size: 17px;
  font-weight: 900;
  color: #3fc1c9;
}

.features {
  font-weight: 900;
}

.banner {
  text-align: center;
  color: #fff;
  background: #fc5185;
  padding: 40px 20px;
  margin: 0;
  overflow: hidden;
}
.banner h2 {
  font-size: 1.2rem;
}

.uspsHeader {
  background: #fff !important;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: -40px;
}
.uspsHeader .quotebannerbottom {
  text-align: center;
  padding: 0.8rem 0;
}
.uspsHeader .quotebannerbottom .fa {
  vertical-align: middle;
}

.uspsBannerHeader {
  margin-top: 40px;
  margin-bottom: 40px;
}

.uspsHeaderMobile {
  background: #fff !important;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: -40px;
}
.uspsHeaderMobile .quotebannerbottom {
  text-align: center;
  padding: 0.8rem 0;
}
.uspsHeaderMobile .quotebannerbottom .fa {
  vertical-align: middle;
}

.leasingContent {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.leasingContent h2 {
  font-size: 1.5rem;
}
.leasingContent h3 {
  font-size: 1.3rem;
}
.leasingContent a {
  font-size: 1.1rem;
  text-align: center;
  display: block;
  cursor: pointer;
}
.leasingContent .expandedContent {
  display: none;
}

#mobileFilterList .filterOptionGroup .plussign::after {
  content: "+";
  right: 20px;
  font-weight: 900;
}

#mobileFilterList .filterOptionGroup .closed .plussign::after {
  content: "▲";
  right: 20px;
  position: absolute;
}

.select2-container--bootstrap4 .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  color: #757575;
  line-height: 2.25rem;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 20px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  top: 60%;
  border-color: #343a40 transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  line-height: 2.25rem;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.select2-results__message {
  color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection--multiple {
  min-height: calc(2.25rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  color: #343a40;
  border: 1px solid #bdc6d0;
  border-radius: 0.2rem;
  padding: 0 5px 0 0;
  cursor: pointer;
  float: left;
  margin-top: 0.3em;
  margin-right: 5px;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  color: #bdc6d0;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 1px;
  padding-right: 3px;
  padding-left: 3px;
  float: left;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #343a40;
}

.select2-container {
  display: block;
}

.select2-container :focus {
  outline: 0;
}

.input-group .select2-container--bootstrap4 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--bootstrap4 .select2-selection {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  .select2-container--bootstrap4 .select2-selection {
    -webkit-transition: none;
    transition: none;
  }
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection, .select2-container--bootstrap4.select2-container--disabled .select2-selection {
  background-color: #e9ecef;
  cursor: not-allowed;
  border-color: #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-search__field, .select2-container--bootstrap4.select2-container--disabled .select2-search__field {
  background-color: transparent;
}

form.was-validated select:invalid ~ .select2-container--bootstrap4 .select2-selection, select.is-invalid ~ .select2-container--bootstrap4 .select2-selection {
  border-color: #dc3545;
}

form.was-validated select:valid ~ .select2-container--bootstrap4 .select2-selection, select.is-valid ~ .select2-container--bootstrap4 .select2-selection {
  border-color: #28a745;
}

.select2-container--bootstrap4 .select2-dropdown {
  border-color: #ced4da;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
  border-top: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #e9ecef;
}

.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
  background-color: #007bff;
  color: #f8f9fa;
}

.select2-container--bootstrap4 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
  max-height: 15em;
  overflow-y: auto;
}

.select2-container--bootstrap4 .select2-results__group {
  padding: 6px;
  display: list-item;
  color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection__clear {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.15em;
  padding-left: 0.3em;
  margin-top: 0.5em;
  border-radius: 100%;
  background-color: #6c757d;
  color: #f8f9fa;
  float: right;
  margin-right: 0.3em;
}

.select2-container--bootstrap4 .select2-selection__clear:hover {
  background-color: #343a40;
}

li.select2-search:after {
  content: "+";
  font-size: 20px;
  line-height: 35px;
  color: #fc5185;
}

.filterOptionGroup {
  padding: 14px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.filterOptionGroup p {
  font-size: 1.2em;
  padding: 5px 10px;
}

.rangeMulti {
  display: none;
  width: 100%;
}

.rangeSelected {
  display: block;
  color: #000;
}

.rangeDelete {
  display: inline-block;
  padding: 5px;
  color: #000;
}

.trimSelectedLink {
  display: block;
  color: #000;
}

.trimLi {
  display: none;
}

.stocklabel {
  margin-left: 28px;
}

@media screen and (max-width: 992x) {
  .stockForm {
    width: 100% !important;
    padding-left: 0px;
    padding-top: 0px;
    float: right;
    padding-right: 42px;
  }

  .switcher {
    float: right;
    right: -42px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  small {
    font-size: 69%;
  }

  .stocklabel {
    margin-left: 8px;
  }
}
@media screen and (max-width: 800px) {
  .filterListSort .sortByFormContainer {
    float: left;
    width: 70%;
  }

  .filterListSort .stockFormContainer {
    float: right;
    width: 30%;
  }

  .filterListSort .sortByFormContainer label {
    display: none;
  }

  .filterListSort form {
    width: 100% !important;
  }

  .showingNumber {
    padding: 10px 0;
  }

  .banner {
    margin-bottom: 40px;
    padding: 10px;
  }
  .banner h2 {
    display: none;
  }

  .showingNumber {
    text-align: center;
  }

  #filterListContainer {
    display: none;
  }

  .filteredResultsContainer {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .hidemobile {
    display: none;
  }
}
.hiddenOptions {
  display: none;
  width: 99%;
  background: #fff;
  z-index: 1;
}

a.back {
  font-size: 18px;
  color: #fc5185 !important;
  padding: 0;
}

#mobileMakers input[type=checkbox][id^=mobcb] {
  display: none;
}

#mobileMakers :checked + label:before {
  content: "✓";
  background-color: #fc5185;
  transform: scale(1);
  opacity: 1;
  border-color: #fc5185;
  position: absolute;
  left: 12px;
  top: -5px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 22px;
  color: #fff;
}

#mobileMakers label img {
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  margin: auto;
}

#mobileMakers label {
  font-size: 0.7rem;
}

.mobileMakerSelected a {
  display: inline-block;
}

.mobileFiltersBottomBack {
  width: 93% !important;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #3fc1c9;
}

.mobilefiltersbottomapply {
  position: fixed;
  bottom: 0;
  width: 80%;
  background: #fff;
}

.sortByFormContainer a {
  color: #212529;
}

.sortByInfoModalContent strong {
  display: block;
}

/*# sourceMappingURL=listing.css.map */
