body {
  text-align: center;
  padding: 10%;
  font: 20px Helvetica, sans-serif;
  color: #333;
}

h1 {
  font-size: 50px;
  margin: 0;
}

article {
  display: block;
  text-align: left;
  margin: 0 auto;
}
article img {
  max-width: 600px;
  margin: 0 0 50px 0;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
}

/*# sourceMappingURL=maintenance.css.map */

