.banner {
  text-align: center;
  color: #fff;
  padding: 20px 20px;
  margin: 0;
  overflow: hidden;
}
.banner h2 {
  font-size: 1.2rem;
}

.uspsHeader {
  background: #fff !important;
  font-size: 0.8rem;
}
.uspsHeader .quotebannerbottom {
  text-align: center;
  padding: 0.8rem 0;
}
.uspsHeader .quotebannerbottom .fa {
  vertical-align: middle;
}

.jumbotron img {
  margin: 10px;
}

.uspsBannerHeader {
  margin-bottom: 40px;
}

.uspsHeaderMobile {
  background: #fff !important;
  font-size: 0.8rem;
}
.uspsHeaderMobile .quotebannerbottom {
  text-align: center;
  padding: 0.8rem 0;
}
.uspsHeaderMobile .quotebannerbottom .fa {
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .headerText {
    text-align: left;
  }
}
@media screen and (min-width: 780px) {
  .jumbotron h1, .jumbotron h2, .jumbotron h3 {
    text-align: center;
  }
}

/*# sourceMappingURL=models.css.map */
