#nav-tab, .nav-tabs {
  border: none;
}
#nav-tab a, #nav-tab .nav-link, .nav-tabs a, .nav-tabs .nav-link {
  color: #222;
  border: none;
  padding: 1rem 4rem;
  background: #f2f2f2;
  margin: 0;
  border-radius: 0;
}
#nav-tab a.active, #nav-tab .nav-link.active, .nav-tabs a.active, .nav-tabs .nav-link.active {
  color: #fff !important;
  background: #fc5185;
}
#nav-tab a:hover, #nav-tab .nav-link:hover, .nav-tabs a:hover, .nav-tabs .nav-link:hover {
  color: #fff !important;
  background: #fc5185;
}

.tab-content {
  background: #f2f2f2;
  padding: 2rem 2rem 0;
}
.tab-content #nav-faq #accordion .card {
  margin-bottom: 1rem;
}
.tab-content #nav-faq #accordion .card .card-header {
  background: #364f6b;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
}
.tab-content #nav-faq #accordion .card .card-header span {
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  display: block;
  padding: 0.75rem 1.25rem;
}

.benefits .card {
  border-top: 5px solid #364f6b;
}
.benefits .card .tick {
  background: #3fc1c9;
  border-radius: 50%;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 2.2rem;
  margin-right: 0.5rem;
  margin-top: 6px;
  margin-bottom: 0;
}
.benefits .card .tick .fa-check {
  color: #fff;
}

.car-leasing-content #carousel .relative-title {
  min-height: 70px;
}
.car-leasing-content .searchContainer {
  background: #3fc1c9;
}
.car-leasing-content .search {
  background: #3fc1c9;
  text-align: center;
  width: 100%;
  padding: 20px;
}

#vehicleRepair .banner {
  background: #3fc1c9 !important;
}
#vehicleRepair .fileFields #damageError, #vehicleRepair .fileFields #referenceError,
#vehicleRepair .fileFields #damageFileError, #vehicleRepair .fileFields #referenceFileError {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  #nav-tab {
    margin-bottom: 10px;
  }
  #nav-tab a {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #e4e4e4 !important;
  }

  #vehicleRepair .headerContent {
    text-align: center;
    padding-botton: 30px;
  }
  #vehicleRepair .topSuccess {
    text-align: center;
  }
  #vehicleRepair h2 {
    text-align: center;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=pages.css.map */
