#user_basics_form label {
  width: auto;
  height: 40px;
  padding: 0.75rem 0.75rem 0.75rem 0;
  line-height: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}
#user_basics_form input[type=text], #user_basics_form input[type=email], #user_basics_form input[type=number], #user_basics_form input[type=url] {
  width: 100%;
  height: 40px;
  border: 1px solid #fc5185;
  border-radius: 0.25rem;
  padding: 0.75rem;
  line-height: 1rem;
}
#user_basics_form input[type=checkbox] {
  width: auto;
  margin: 1.1rem 0;
}
#user_basics_form .profileBlockBackground {
  border-radius: 10px;
  background: #e4e4e4;
  padding: 1.25rem;
  margin: 0.5rem 0;
}

/*# sourceMappingURL=profile.css.map */
