#adminMenu {
  background: #979395;
  padding: 4px 0;
  color: #fff;
}
#adminMenu a {
  color: #fff;
  text-decoration: none;
}

.priceHistoryRatings .pinkHeading {
  color: #fc5185 !important;
}
.priceHistoryRatings h5 i {
  font-size: 1rem;
  vertical-align: middle;
}

#enquireTodayButton {
  font-weight: bold;
}

.smallnav {
  margin: 0;
}

.quoteUspsHeader {
  font-size: 0.8rem;
}
.quoteUspsHeader .quotebannerbottom .fa {
  vertical-align: middle;
}

#enquiryForm .button {
  width: 100%;
}

.dealTopLinks {
  color: #000;
  cursor: pointer;
}

#topSection {
  background: #fff;
  padding: 20px 0 1rem 0;
}
#topSection .priceTable .priceTitle {
  font-size: 0.8rem;
}
#topSection .priceTable .pricePrice {
  font-size: 0.8rem;
  font-weight: bold;
}
#topSection .mobilePriceTable {
  margin: 20px 0;
}
#topSection .mobilePriceTable .priceTitle {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
#topSection .mobilePriceTable .pricePrice {
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
#topSection .insuranceText .smallfont {
  font-size: 1rem;
}
#topSection .infoButtons .approvedPartner span {
  font-size: 1rem;
  color: #3fc1c9;
}
#topSection .infoButtons .approvedPartner span img {
  max-width: 25px;
  margin-bottom: 10px;
}
#topSection #photoContainer .slick-arrow {
  cursor: pointer;
}
#topSection #photoContainer .slick-active {
  cursor: pointer;
}
#topSection #photoContainer .slick-slide {
  cursor: pointer;
}

#calltoactions {
  padding: 1rem 0;
}
#calltoactions .pinkHeading {
  font-size: 1.6rem;
}
#calltoactions .pinkHeading i {
  font-size: 1rem;
  vertical-align: middle;
}
#calltoactions #customiseDeal #priceUpdatedNotification {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #fc5185;
}
#calltoactions #customiseDeal .customisationOptions h5 {
  color: #fc5185;
}
#calltoactions #customiseDeal select option:disabled {
  text-decoration: line-through;
  color: #dddddd;
}
#calltoactions #customiseDeal .control-label span {
  font-weight: bold;
}
#calltoactions #customiseDeal .optionalExtras h5 {
  color: #fc5185;
}
#calltoactions #customiseDeal .optionalExtras .optionalButtons {
  text-align: center;
}
#calltoactions #customiseDeal .optionalExtras .optionalButtons button {
  width: 75%;
}
#calltoactions #customiseDeal .hideOnMobile h5 {
  color: #fc5185;
}

#vehicleInfo {
  background: #fff;
}
#vehicleInfo .techSpecs h2 {
  padding-top: 0;
  font-size: 1.6rem;
}

#reviews .pinkh2, #reviews .pinkHeading {
  font-size: 1.6rem;
}

.mobileFooterCTA {
  z-index: 2;
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 4px #3fc1c9;
  font-size: 0.8rem;
}
.mobileFooterCTA .topBlock {
  padding-bottom: 5px;
  display: block;
}
.mobileFooterCTA .stocktag {
  right: 0;
  left: auto;
  border-color: transparent #fc5185 transparent transparent;
  border-width: 0 84px 84px 0;
}
.mobileFooterCTA .stocktag p {
  margin-left: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobileFooterCTA .monthly_price {
  font-weight: bold;
}
.mobileFooterCTA .monthly_price strong {
  font-size: 1rem;
}
.mobileFooterCTA #originalTerm2 {
  font-weight: bold;
}
.mobileFooterCTA img {
  max-width: 120px;
  max-height: 50px;
  margin-top: 20px !important;
}
.mobileFooterCTA .ctaButtons a {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  #dealInformationLabel, #model-options, #model-standard, #quotecall .modal-title, #quotemodel .modal-title {
    text-align: center;
    width: 100%;
  }

  .dealInfoBreakdownA {
    order: 2;
  }

  .dealInfoBreakdownB {
    order: 1;
  }

  #lhnHocButton {
    display: none !important;
  }

  .dealerLogo {
    max-width: 120px;
  }

  .infoButtons button {
    width: 180px;
  }
  .infoButtons .providerDetails {
    padding-bottom: 10px;
  }
  .infoButtons .providerDetails .approvedPartner span {
    font-size: 0.72rem !important;
    color: #3fc1c9;
  }
  .infoButtons .providerDetails .approvedPartner span img {
    max-width: 25px !important;
    margin-bottom: 0px !important;
  }

  .priceTable {
    display: none;
  }

  .mobilePriceTable {
    display: block !important;
  }

  #calltoactions #customiseDeal label {
    margin-top: 20px;
  }
  #calltoactions #customiseDeal h5 {
    margin-top: 1rem;
    text-align: left;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .quotebannerbottom i {
    clear: both;
    display: block;
  }

  .priceTable {
    display: none;
  }

  .mobilePriceTable {
    display: block !important;
  }

  .providerDetails button {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  #deposit_val {
    font-size: 0.8rem;
  }

  #customiseDeal .pinkHeading {
    text-align: center;
    min-height: 40px;
    font-size: 1.3rem !important;
  }

  .customisationOptions button {
    padding: 5px 8px;
  }

  .specbuttons {
    font-size: 0.8rem;
  }

  #vehicleInfo h2 {
    margin: 10px 0;
  }
}
@media screen and (max-width: 1200px) {
  #photoContainer {
    min-height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #calltoactions .optionalButtons button, #calltoactions .hideOnMobile button {
    width: 220px !important;
  }

  .hideOnMobile .buttonpad {
    text-align: center;
  }

  #customiseDeal .customisationOptions select {
    width: 50%;
  }
  #customiseDeal .optionalExtras h5 {
    text-align: center;
  }

  #photoContainer {
    min-height: 430px;
    max-height: 430px;
    overflow: hidden;
  }

  .providerDetails .approvedPartner span {
    color: #3fc1c9;
  }
  .providerDetails .approvedPartner span img {
    max-width: 40px !important;
  }
  .providerDetails h5 {
    max-width: 245px;
    text-align: right;
    font-size: 1.5rem;
  }
  .providerDetails h5 span {
    text-align: center;
  }
  .providerDetails h5 span i {
    font-size: 1rem;
  }
  .providerDetails button {
    margin-top: 0;
    margin-bottom: 10px;
    width: 220px;
  }
  .providerDetails .dealerLogo {
    max-width: 200px;
    max-height: 100px;
  }
}

/*# sourceMappingURL=quote.css.map */
