.banner_text h3.trustpilot {
  color: #fff;
}
.banner_text iframe {
  color: #fff !important;
}
.banner_text iframe .fallback-logo {
  color: #fff !important;
}

.garage-home h2 {
  font-weight: 900;
}
.garage-home a:hover {
  color: #fff !important;
}

.calllink {
  font-size: 36px;
  font-weight: 900;
  color: #fc5185;
  line-height: normal;
  padding: 10px 0;
  display: block;
}

.thankyouJumbo {
  padding: 2rem;
}
.thankyouJumbo .dealer {
  color: #fc5185;
  font-weight: bold;
}

.stocktag, .mobileInsuranceTag {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #fc5185;
  border-style: solid;
  border-width: 0px 0px 84px 84px;
  text-align: center;
  color: #fff;
  margin-left: 15px;
  z-index: 1;
}
.stocktag p, .mobileInsuranceTag p {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 50px;
  margin-top: 18px;
  margin-left: -79px;
}

.mobileInsuranceTag {
  border-color: transparent #3fc1c9;
  border-width: 0px 61px 61px 0px;
  right: 15px;
  left: auto;
}
.mobileInsuranceTag p {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 8px;
  margin-left: 16px;
  font-size: 0.75rem;
}

.featured .stocktag {
  border-width: 0 0 70px 70px;
}
.featured .stocktag p {
  margin-top: 8px;
  margin-left: -67px;
}
.featured .instock {
  border-color: transparent transparent transparent #3fc1c9;
}
.featured .instock p {
  font-size: 1rem !important;
  margin-top: 7px !important;
  margin-left: -73px !important;
}
.featured .stocktag p {
  font-size: 0.8rem;
  margin-top: 14px;
  margin-left: -70px;
}

.garageContainer .result-row .stocktag {
  border-width: 0 0 100px 100px !important;
}
.garageContainer .result-row .stocktag p {
  margin-top: 14px !important;
  margin-left: -92px !important;
  font-size: 1.1rem;
  line-height: 1rem;
}

.garageContainer .result-row .expiredTag {
  border-width: 0 0 100px 100px !important;
  border-color: transparent transparent transparent #364f6b;
}
.garageContainer .result-row .expiredTag p {
  margin-top: 40px !important;
  margin-left: -96px !important;
}

.mot-icon {
  background: url(/images/mot-icon.png) no-repeat;
  display: inline-block;
  min-height: 32px;
  min-width: 32px;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .thankyouJumbo {
    padding: 2rem;
  }
  .thankyouJumbo .dealer {
    color: #fc5185;
    font-weight: bold;
  }

  .hideonmobile {
    display: block;
  }

  .showonmobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .thankyouJumbo {
    padding: 0rem;
  }
  .thankyouJumbo .lead {
    padding: 2rem;
  }
  .thankyouJumbo .dealer {
    color: #fc5185;
    font-weight: bold;
  }

  .sellMyCar a {
    padding: 0 !important;
  }
  .sellMyCar a div {
    padding: 24px !important;
  }

  .hideonmobile {
    display: none;
  }

  .showonmobile {
    display: block;
  }

  .browseLeaseType .boxes {
    padding: 80px 0 !important;
    max-height: 240px;
    background-size: cover !important;
  }

  .creditScoreCar {
    background: none !important;
    display: none;
  }

  .creditScoreLink {
    display: block !important;
    text-align: center;
  }
}

/*# sourceMappingURL=site.css.map */
