#main-nav a:hover {
  color: #343a40 !important;
}
#main-nav .dropdown-menu {
  margin-top: 0px;
}
#main-nav .dropdown-menu #menu-item-89 {
  font-weight: bold;
  border-top: 1px solid #000;
  padding: 1rem 0 0.8rem;
  margin: 0.4rem 0 0;
}
#main-nav .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.footer-top {
  background: #222222 none repeat scroll 0 0;
  color: #9d9d9d;
  padding: 80px 0;
}
.footer-top h6 {
  color: #fc5185;
  margin-bottom: 20px;
}
.footer-top ul {
  padding-inline-start: 0px;
}
.footer-top ul li {
  font-size: 14px;
  line-height: 23px;
  list-style: outside none none;
  margin-bottom: 16px;
  position: relative;
}
.footer-top ul li a {
  color: #fff;
}

.footer-bottom {
  background: #191919 none repeat scroll 0 0;
  padding: 22px 0;
}

.footer_widget {
  color: #ffffff;
  display: inline-block;
}
.footer_widget ul li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0 auto;
}
.footer_widget ul li a i {
  font-size: 2rem;
  margin: 1rem;
}

.button {
  margin-right: 5px;
  padding: 10px 18px;
  border: 0px;
  border-radius: 20px;
  color: #fff !important;
  font-weight: 900;
}

.b1 {
  background: #364f6b;
}

@media screen and (max-width: 1024px) {
  .entry-header {
    text-align: center;
  }

  .entry-content {
    text-align: center;
  }
}

/*# sourceMappingURL=blog.css.map */
