.owl-carousel .item-container {
  box-shadow: 0 4px 6px #ddd;
  border-radius: 10px;
}
.owl-carousel .item-container .item-image {
  height: 210px;
  border-radius: 10px 10px 0 0;
}
.owl-carousel .item-container .image-service {
  background: url(/images/blog/service.png) no-repeat;
}
.owl-carousel .item-container .image-warranty {
  background: url(/images/blog/warranty.png) no-repeat;
}
.owl-carousel .item-container .image-ev {
  background: url(/images/blog/product-electric-vehicles.webp) no-repeat;
}
.owl-carousel .item-container .image-gap {
  background: url(/images/blog/product-gap.webp) no-repeat;
}
.owl-carousel .item-container .image-mot {
  background: url(/images/blog/mot.jpg) no-repeat;
}
.owl-carousel .item-container .image-tyre {
  background: url(/images/blog/product-tyre.webp) no-repeat;
}
.owl-carousel .item-container .image-alloy {
  background: url(/images/blog/product-alloy.webp) no-repeat;
}
.owl-carousel .item-container .image-cosmetic {
  background: url(/images/blog/product-cosmetic.webp) no-repeat;
}
.owl-carousel .item-container .item-text-block {
  margin: 20px;
}
.owl-carousel .item-container .item-text-block .item-title {
  font-size: 1.2rem;
}
.owl-carousel .item-container .item-text-block .item-text {
  min-height: 75px;
}
.owl-carousel .item-container .item-text-block .item-link {
  text-align: right;
}
.owl-carousel .item-container .item-text-block .item-link a {
  color: #33b39c;
  font-size: 1rem;
  text-decoration: underline;
}

#homepagePosts .blog-info-box .blogimg {
  max-height: 200px;
  overflow: hidden;
}
#homepagePosts .blog-info-box .blogtitle {
  background: #222b38;
  padding: 8px;
  text-align: center;
  color: #fff;
}
#homepagePosts .blog-info-box .blogtitle a {
  color: #fff;
  min-height: 2rem;
  padding: 20px 0;
}

/*# sourceMappingURL=homepage.css.map */
