.invalid-shake {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}

@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(40px);
  }
  20% {
    -webkit-transform: translate(-40px);
  }
  40% {
    -webkit-transform: translate(20px);
  }
  60% {
    -webkit-transform: translate(-20px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(40px);
  }
  20% {
    -moz-transform: translate(-40px);
  }
  40% {
    -moz-transform: translate(20px);
  }
  60% {
    -moz-transform: translate(-20px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes kf_shake {
  0% {
    -o-transform: translate(40px);
  }
  20% {
    -o-transform: translate(-40px);
  }
  40% {
    -o-transform: translate(20px);
  }
  60% {
    -o-transform: translate(-20px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}
.modal .modal-header {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.modal.modal-success .modal-header {
  color: #ffffff;
  background-color: #2ab27b;
}
.modal.modal-warning .modal-header {
  color: #ffffff;
  background-color: #cbb956;
}
.modal.modal-danger .modal-header {
  color: #ffffff;
  background-color: #bf5329;
}
.modal.modal-info .modal-header {
  color: #ffffff;
  background-color: #8eb4cb;
}
.modal.modal-primary .modal-header {
  color: #ffffff;
  background-color: #3097D1;
}

.two-step-verification .verification-exceeded-panel {
  margin-top: 2.5em;
}
.two-step-verification .verification-exceeded-panel h4,
.two-step-verification .verification-exceeded-panel p {
  margin: 0 0 2.5em 0;
}
.two-step-verification .verification-exceeded-panel .locked-icon {
  font-size: 3.5em;
  margin: 30px 0 0;
}
.two-step-verification #failed_login_alert {
  display: none;
}
.two-step-verification #failed_login_alert .glyphicon {
  font-size: 6em;
  text-align: center;
  display: block;
  margin: 0.25em 0 0.75em;
}
.two-step-verification .panel {
  overflow: hidden;
}
.two-step-verification .verification-form-panel {
  margin-top: 2.5em;
}
.two-step-verification .verification-form-panel .code-inputs {
  margin-bottom: 3em;
}
.two-step-verification .verification-form-panel .submit-container {
  margin-bottom: 2em;
}
.two-step-verification .verification-form-panel input {
  font-size: 2em;
  height: 90px;
}
@media (min-width: 500px) {
  .two-step-verification .verification-form-panel input {
    font-size: 3em;
    height: 140px;
  }
}
@media (min-width: 650px) {
  .two-step-verification .verification-form-panel input {
    font-size: 4em;
    height: 180px;
  }
}

/*# sourceMappingURL=app.css.map */
