@mixin menu-header {
    font-size: 1.2rem;
    text-align: center;
    background: rgb(60, 163, 174);
    padding: 1rem 0;
    color: #fff;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    width: 100%;
}

.pinkHeading{
    font-weight:900;
    color: #fc5185;
}

body.menu-modal-open {
    width: 100%;
    position: fixed;
    #mobileMenuToggle {
        display: none;
    }
    #closeMobileMenu {
        display: block!important;
    }
}

#closeMobileMenu {
    background: rgb(23, 79, 95);
    padding: .25rem .75rem;
    line-height: 1.5em;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 1;
    text-shadow: none;
    span {
        width: 1.5em;
        height: 1.5em;
        display: block;
        vertical-align: middle;
        color: #fff;
    }
}

.adminBar {
    background: #666;
    color: #fff;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            a {
                display: block;
                color: #fff;
            }
        }
    }
}

.navbar-nav {
    a {
        color: #212529;
    }
}
#mobileMenu {
    display: block;
    background: #fff;
    position: fixed;
    z-index: 99999;
    top: 57px;
    left: 0;
    width: 100%;
    height: calc(100% - 57px);
    overflow: scroll;

    .loginActions {
        padding: 1rem 0;
        a {
            display: block;
        }
    }
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                .otherServices {
                    display: block;
                    width: 100%;
                    padding: 1rem 0;
                    text-align: center;
                    color: #212529;
                    border-bottom: 1px solid #f4f4f4;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                a {
                    display: block;
                    width: 100%;
                    padding: 1rem 0;
                    text-align: center;
                    color: #212529;
                    border-bottom: 1px solid #f4f4f4;
                    font-weight: bold;
                    font-size: 1.2rem;
                    &:hover {
                        background: #f4f4f4;
                    }
                }
                ul {
                    display: none;
                    li {
                        a {
                            border-bottom: none;
                            font-weight: normal;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .menuHeader {
            a {
                @include menu-header;
            }
        }
        #mainMenu {
            @include menu-header;
        }
        #adminMenu {
            background: rgb(104, 209, 85);
        }
    }
}

.myAccountLinks {
    a {
        div {
            padding: 24px;
            font-size: 20px;
            border: 1px;
            border-radius: 10px;
        }
    }
}

.modal-body {
    .card {
        margin-top: 1rem;
        .card-header {
            background: #364f6b;
            border-radius: 0;
            button {
                color: #fff;
                text-decoration: none;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width:499px){
    #mobileMenu {
        top: 71px;
        height: calc(100% - 71px);
    }
}