#user_basics_form {
  label {
    width: auto;
    height: 40px;
    padding: .75rem .75rem .75rem 0;
    line-height: 1rem;
    margin-bottom: 0;
    font-weight: bold;
  }
  input[type=text],input[type=email],input[type=number],input[type=url] {
    width: 100%;
    height: 40px;
    border: 1px solid #fc5185;
    border-radius: .25rem;
    padding: .75rem;
    line-height: 1rem;
  }
  input[type=checkbox] {
    width: auto;
    margin: 1.1rem 0;
  }
  .profileBlockBackground {
    border-radius: 10px;
    background: #e4e4e4;
    padding: 1.25rem;
    margin: 0.5rem 0;
  }
  #leftColumn {

  }
  #rightColumn {

  }
}