$pink: #fc5185;
#adminMenu {
    background: #979395;
    padding: 4px 0;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
}
.priceHistoryRatings {
    .pinkHeading {
        color: $pink!important;
    }
    h5 {
        i {
            font-size: 1rem;
            vertical-align: middle;
        }
    }
}
#enquireTodayButton {
    font-weight: bold;
}
.smallnav {
    margin: 0;
}
.quoteUspsHeader {
    font-size: 0.8rem;
    .quotebannerbottom {
        .fa {
            vertical-align: middle;
        }
    }
}
#enquiryForm {
    .button {
        width: 100%;
    }
}
.dealTopLinks {
    color: #000;
    cursor: pointer;
}
#topSection {
    background: #fff;
    padding: 20px 0 1rem 0;
    .priceTable {

        .priceTitle {
            font-size: 0.8rem;
        }
        .pricePrice {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
    .mobilePriceTable {
        margin: 20px 0;
        .priceTitle {
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
        .pricePrice {
            text-align: right;
            font-size: 0.8rem;
            font-weight: bold;
            padding-bottom: 1rem;
        }
    }
    .insuranceText {
        .smallfont {
            font-size: 1rem;
        }
    }
    .infoButtons {
        .approvedPartner {
            span {
                img {
                    max-width: 25px;
                    margin-bottom: 10px;
                }
                font-size: 1rem;
                color: #3fc1c9;
            }
        }
    }
    #photoContainer {
        .slick-arrow {
            cursor: pointer;
        }
        .slick-active {
            cursor: pointer;
        }
        .slick-slide {
            cursor: pointer;
        }
    }
}
#calltoactions {
    padding: 1rem 0;
    .pinkHeading{
        font-size: 1.6rem;
        i {
            font-size: 1rem;
            vertical-align: middle;
        }
    }
    #customiseDeal {
        #priceUpdatedNotification {
            padding: 10px;
            text-align: center;
            width: 100%;
            color: #fff;
            background: $pink;
        }
        .customisationOptions {
            h5 {
                color: $pink;
            }
        }
        select {
            option:disabled {
                text-decoration: line-through;
                color: #dddddd;
            }
        }
        .control-label {
            span {
                font-weight: bold;
            }
        }
        .optionalExtras {
            h5 {
                color: $pink;
            }
            .optionalButtons {
                text-align: center;

                button {
                    width: 75%;
                }
            }
        }

        .hideOnMobile {
            h5 {
                color: #fc5185;
            }
        }
    }
}
#vehicleInfo {
    background: #fff;
    .techSpecs {
        h2 {
            padding-top: 0;
            font-size: 1.6rem;
        }
    }
}
#reviews {
    .pinkh2, .pinkHeading {
        font-size: 1.6rem;
    }
}

.mobileFooterCTA {
    z-index: 2;
    background: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    border-top: solid 4px #3fc1c9;
    font-size: 0.8rem;
    .topBlock {
        padding-bottom: 5px;
        display: block;
    }
    .stocktag {
        right: 0;
        left: auto;
        border-color: transparent $pink transparent transparent;
        border-width: 0 84px 84px 0;
        p {
            margin-left: 30px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .monthly_price {
        font-weight: bold;
        strong {
            font-size: 1rem;
        }
    }
    #originalTerm2 {
        font-weight: bold;
    }
    img {
        max-width: 120px;
        max-height: 50px;
        margin-top: 20px!important;
    }
    .ctaButtons {
        a {
            display: block;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 576px) {
    #dealInformationLabel, #model-options, #model-standard, #quotecall .modal-title, #quotemodel .modal-title{
        text-align: center;
        width: 100%;
    }

    .dealInfoBreakdownA {
        order: 2;
    }
    .dealInfoBreakdownB {
        order: 1;
    }
    #lhnHocButton {
        display: none!important;
    }
    .dealerLogo {
        max-width: 120px;
    }
    .infoButtons {
        button {
            width: 180px;
        }
        .providerDetails {
            padding-bottom: 10px;
            .approvedPartner {
                span {
                    img {
                        max-width: 25px!important;;
                        margin-bottom: 0px!important;
                    }
                    font-size: 0.72rem!important;
                    color: #3fc1c9;
                }
            }
        }
    }
    .priceTable {
        display: none;
    }
    .mobilePriceTable {
        display: block!important;
    }
    #calltoactions {
        #customiseDeal {
            label {
                margin-top: 20px;
            }
            h5 {
                margin-top: 1rem;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
    .quotebannerbottom {
        i {
            clear: both;
            display: block;
        }
    }
    .priceTable {
        display: none;
    }
    .mobilePriceTable {
        display: block!important;
    }
    .providerDetails {
        button {
            font-size: 0.7rem;
            margin-bottom: 10px;
        }
    }
    #deposit_val {
        font-size: 0.8rem;
    }
    #customiseDeal {
        .pinkHeading {
            text-align: center;
            min-height: 40px;
            font-size: 1.3rem!important;
        }
    }
    .customisationOptions {
        button {
            padding: 5px 8px
        }
    }
    .specbuttons {
        font-size: 0.8rem;
    }
    #vehicleInfo {
        h2 {
            margin: 10px 0;

        }
    }
}
@media screen and (max-width: 1200px) {
    #photoContainer {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    #calltoactions {
        .optionalButtons, .hideOnMobile {
            button {
                width: 220px!important;
            }
        }
    }
    .hideOnMobile {
        .buttonpad {
            text-align: center;
        }
    }
    #customiseDeal {
        .customisationOptions {
            select {
                width: 50%;
            }
        }
        .optionalExtras {
            h5 {
                text-align: center;
            }
        }
    }
    #photoContainer {
        min-height: 430px;
        max-height: 430px;
        overflow: hidden;
    }
    .providerDetails {
        .approvedPartner {
            span {
                img {
                    max-width: 40px!important;
                }
                color: #3fc1c9;
            }
        }
        h5 {
            max-width: 245px;
            text-align: right;
            font-size: 1.5rem;
            span {
                text-align: center;
                i {
                    font-size: 1rem;
                }
            }
        }
        button {
            margin-top: 0;
            margin-bottom: 10px;
            width: 220px;
        }
        .dealerLogo {
            max-width: 200px;
            max-height: 100px;
        }
    }
}